@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
.bill-head{
    text-align: center;
    font: 5vh "Ubuntu", Arial;
    font-weight: bold;
    color: rgb(80, 0, 80);
}
table{
    width: 100%;
    border-collapse: collapse;
}
th{
    font: 4vh "Ubuntu";
    padding: 0 20px 3vh 20px;
}
td{
    text-align: center;
    font: 3.5vh "Ubuntu", Arial;
    color: grey;
    border-bottom: 1px solid grey;
    border-top: 1px solid grey;
    padding: 10px 0;
}
.final-entry-wrapper{
    margin: 10vh 2vw;
    display: flex;
    justify-content: space-between;
}
.final-entries{
    text-align: right;
    font: 3vh "Ubuntu", Arial;
    margin: 10px 0;
}
.delivery-head{
    font: 30px Arial;
    font-weight: bold;
}
.delivery-add{
    font: 20px Arial;
    margin: 1.5vh 0;
    font-style: italic;
}
.radio-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2vh 0;
}
.paymeth{
    font: 3vh "Ubuntu", Arial;
    margin: 0 0 0 10px;
}
.place-order-btn{
    padding: 4px 30px;
    font: 2.7vh "Poppins", Arial;
    font-weight: bold;
    background-color: rgb(179, 214, 255);
    border: 2px solid rgb(0, 46, 146);
    border-radius: 10px;
    transition: all 0.2s ease-out;
}
.place-order-btn:hover{
    cursor: pointer;
    color: white;
    background-color: rgb(0, 46, 146);
}
#goto-pay{
    display:none;
}