.container-footer{
    width: 98.8vw;
    height: auto;
    background-color: rgb(44, 5, 5);
    color: white;
    overflow-x: hidden;
    /* display: flex; */
    padding: 30px, 0px;
}

.list{
    width: 60vw;
    height: auto;
    display: flex;
    overflow-x: hidden;
}
.top-footer{
  display: flex;
}

.head{
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 10px;
}

ul{
  list-style-type: none;
}

.col-1,.col-2,.col-3{
    width: 20vw;
    padding-left: 20px;
}



.right {
  width: 30%;
  padding-left: 100px;
}

.right h3 {
  margin-bottom: 10px;
}

.social img {
  width: 40px;
  margin-right: 10px;
  cursor: pointer;
}

hr {
  background-color: white;
  border: none;
}

/* Media query for tablets (max-width: 768px) */
@media (max-width: 768px) {
  .container-footer {
      height: auto;
      padding-top: 20px;
  }

  .list {
      /* flex-direction: column; */
      /* align-items: center; */
      width: 100vw;
      height: auto;
  }

  .col-1, .col-2, .col-3 {
      width: 90%;
      padding-left: 20px;
      /* text-align: center; */
      margin-bottom: 20px;
  }

  .right {
      width: 100%;
      text-align: center;
      margin-top: 20px;
  }

  .top-footer {
      flex-direction: column;
      align-items: center;
  }

  hr {
      width: 90%;
      margin: 20px auto;
  }

  p {
      margin-left: 0;
      text-align: center;
  }
}

/* Media query for small devices (max-width: 480px) */
@media (max-width: 480px) {
  .social img {
      width: 30px;
      margin-right: 5px;
  }

  .head {
      font-size: 15px;
  }

  .col-1, .col-2, .col-3 {
      width: 100%;
  }

  .right {
      width: 100%;
  }
  p {
      font-size: 14px;
  }

  hr {
      width: 100%;
  }
}
