.my-ord-head{
    text-align: center;
    font: 5vh "Ubuntu", Arial;
    font-weight: bold;
    color: rgb(66, 0, 66);
}
.orders-container{
    padding: 2vh 1vw;
}
.order-item{
    margin: 20px 0;
    padding: 20px;
    width: 80%;
    background-color: white;
    border: 1px solid rgb(223, 203, 228);
    border-radius: 20px;
    transition: all 0.2s ease-out;
}
.orditem-top-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1vh;
}
.placed-on{
    font: 2.3vh "Poppins", Arial;
}
.ord-stat{
    font: 4vh "Poppins", Arial;
}
.ord-id{
    font: 3vh "Poppins", Arial;
}
.total-amt{
    font: 2.7vh "Ubuntu", Arial;
    text-align: right;
}
.expand-btn{
    height: 40px;
    border: none;
    outline: none;
    background-color: white;
    margin: 1vh;
    padding: 1vh;
    border-radius: 10px;
}
.expand-btn:hover{
    background-color: rgb(251, 233, 255);
    cursor: pointer;
}
.orditem-btm-wrapper{
    margin-top: 10px;
    transition: all 0.2s ease-out;
}
.prod-in-ord-item{
    display: flex;
    margin: 1vh 1vw;
    padding: 2vh 0 2vh 2vw;
    border: 1px solid rgb(223, 223, 223);
}
.ord-prod-img-wrap{
    width: 20%;
    display: flex;
    justify-content: center;
}
.ord-prod-img{
    height: 130px; 
}
@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Mate:ital@0;1&display=swap');
.ord-prod-name{
    text-align: center;
    font: 4vh "Marcellus", Arial;
    letter-spacing: 0.5px;
    font-weight: bold;
    color: rgb(131, 0, 207);
    width: 100%;
}
.ord-prod-mid-wrap{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.ord-prod-right-wrap{
    width: 30%;
    border-left: 1px solid rgb(190, 190, 190);
    padding: 1vh 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.ord-prod-qty{
    text-align: center;
    font: 3vh "Ubuntu", Arial;
    color: grey;
}
.ord-prod-remark{
    text-align: center;
    margin: 0 1vw;
    font: 17px "Poppins", Arial;
    font-weight: bold;
    color: rgba(82, 0, 82, 0.767);
}
.in-ord-btns{
    margin: 0.7vh 0.2vw;
    padding: 3px 40px;
    font: 2vh "Poppins", Arial;
    font-weight: bold;
    border-radius: 10px;
    transition: all 0.2s ease-out;
}
.view-prod{
    background-color: rgb(236, 214, 255);
    border: 2px solid rgb(103, 0, 199);
}
.view-prod:hover{
    cursor: pointer;
    color: white;
    background-color: rgb(103, 0, 199);
}
.review-prod{
    background-color: rgb(255, 253, 141);
    border: 2px solid rgb(148, 145, 0);
}
.review-prod:hover{
    cursor: pointer;
    color: white;
    background-color: rgb(148, 145, 0);
}
.cancel-prodord-btn{
    padding: 3px 30px;
    font: 14px Arial;
    font-weight: bold;
    background-color: rgb(255, 225, 225);
    border: 2px solid rgb(179, 0, 0);
    border-radius: 10px;
    transition: all 0.2s ease-out;
}
.cancel-prodord-btn:hover{
    cursor: pointer;
    color: white;
    background-color: rgb(179, 0, 0);
}
.reason-wrap{
    display: none;
    width: 100%;
    padding: 0px 1vw;
}
.reason{
    font: 2vh "Ubuntu", Arial;
    text-align: center;
    margin-bottom: 0.5vh;
}
#reason-ip{
    width: 100%;
    font: 2.5vh "Poppins", Arial;
    padding: 5px;
    border: 2px solid purple;
}
#reason-ip:focus{
    outline: none;
    border-radius: 10px;
}