@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap');
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 12vh;
    background-color: rgb(199, 186, 255);
    @media (max-width: 500px) {
        display: block;
        height: 17vh;
        padding: 10px 20px;
    }
}
.nav-left-wrapper{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: 500px) {
        transform: scale(0.6);
        position: relative;
        right: 15vw;
        bottom: 2vh;
        height: 9vh;
    }
}
#nav-logo{
    height: 12vh;
    margin: 0 5px 0 10px;
    @media (max-width: 500px ){
        margin: 0 0 0 0;
    }
}
.title-bigletter{
    position: relative;
    top: 1.5vh;
    font: 10vh "Great Vibes";
    font-weight: bold;
    color:rgb(80, 0, 69)
}
.title{
    position:relative;
    top: 0.7vh;
    left: 5px;
    font: 7vh "Great Vibes", "Arial";
    font-weight: bold;
    color: rgb(80, 0, 69);
    @media (max-width: 500px) {
        top: 1vh;
        left: 4vw;
    }
}
.punchline{
    position: relative;
    bottom: 1.3vh;
    font: 3.2vh "Great Vibes", Arial;
    color:rgb(97, 0, 189);
    @media (max-width: 500px) {
        bottom: 0.5vh;
        font-size: 4vh;
        width: 250px;
    }
}
.gotologin-btn{
    padding: 3px 20px;
    background-color: white;
    border: 2px solid blueviolet;
    border-radius: 10px;
    margin: 0 20px;
    font: 17px Arial;
    transition: all 0.25s ease-out;
}
.gotologin-btn:hover{
    cursor: pointer;
    transform: scale(1.1);
    background-color: blueviolet;
    color: white;
}
.gotoregister-link{
    text-decoration: none;
    color: rgb(69, 0, 158);
    font: 17px "Arial";
    margin: 0 10px;
    transition: all 0.25s ease-out;
    padding: 3px 10px;
    border-radius: 5px; 
}
.gotoregister-link:hover{
    color: black;
    background-color: rgb(255,255,255,0.4);
}
.search-bar{
    display:flex;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    transition: all 0.2s ease-out;
    @media (max-width: 500px){
        margin: 0 0 10px 0;
    }
}
.search-bar:hover{
    transform: scale(1.05);
}
.search-bar img{
    width: 20px;
    margin: 3px 3px 3px 5px;
}
.search-bar p{
    font: 4vh Arial;
    color:rgb(112, 106, 106);
}
.search-bar input{
    padding: 2px;
    font: 3vh Arial;
    margin: 6px;
    width: 400px;
    border:none;
    background-color: rgb(0,0,0,0)  ;
    @media (max-width: 500px) {
        font-size: 2vh;
    }
}
.search-bar input:focus{
    outline: none;
}
.dp-init{
    background-color: white;
    font: 17px "Ubuntu", Arial;
    font-weight: bold;
    margin-right: 30px;
    padding: 6px;
    border: 1px solid rgb(77, 4, 126);
    border-radius: 50%;
    transition: all 0.2s ease-out;
}
.dp-init:hover{
    cursor: pointer;
    background-color: rgb(218, 204, 230);;
}
.submenu-wrap{
    z-index: 100;
    position: absolute;
    right: 1%;
    top: 10%;
    max-height: 0;
    overflow: hidden;
    transition: all 0.4s ease-out;
}
.submenu-open{
    max-height: 400px;
}
.submenu{
    border: 1px solid purple;
    background-color: white;
    border-radius: 7px;
}
.profile{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.dp{
    height: 7vh;
    margin-right: 10px;
}
.profile-info{
    padding: 5px 0 5px 10px;
    border-left: 1px solid rgb(201, 201, 201);
}
.user-name{
    font: 3.5vh "Ubuntu", Arial;
    font-weight: bold;
}
.user-add{
    margin-top: 5px;
    max-width: 200px;
    font: 2.5vh "Ubuntu", Arial;
    color: grey;
}
.submenu-link-in{
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(223, 223, 223);
    padding: 5px 20px;
    transition: all 0.2s ease-out;
}
.submenu-link-in p:hover{
    transform: translateX(10px);
}
.submenu-link-in:hover{
    background-color: rgb(253, 231, 255);
    font-weight: bold;
}
.submenu-link-in p{
    transition: all 0.2s ease-out;
}
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
.submenu-link{
    text-decoration: none;
    font: 3vh "Manrope", Arial;
    color:blueviolet;
}
.submenu-link-img{
    height:3.5vh;
    margin-right: 7px;
}
.logout-btn{
    margin: 3vh 0 3vh 0;
    padding: 3px 17px;
    font: 2.5vh Arial;
    font-weight: bold;
    color: rgb(110, 0, 0);
    background-color: white;
    border: 2px solid rgb(177, 0, 0);
    border-radius: 10px;
    transition: all 0.3s ease-out;
}
.logout-btn:hover{
    cursor: pointer;
    color: white;
    background-color: rgb(177, 0, 0);
}