@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
.prod-det-innerwrapper{
    padding: 17px;
    border-top: 2px solid purple;;
    display: flex;
    justify-content: center;
}
#prod-image{
    height: 70vh;
    margin: 30px 40px 30px 30px;
    border: 1px solid grey;
}
.prod-dets{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 30px 0 0 50px;
    width: 750px;
}
.saree-title{
    text-align: center;
    font: 30px "Space Grotesk";
    font-weight: bold;
}
.disc-old-price{
    margin: 10px 10px 0 0;
    text-decoration: line-through;
    font: 3.5vh "Ubuntu", Arial;
    color: grey;
}
.disc-new-price{
    margin: 10px 0 0 0;
    font: 4vh "Ubuntu", Arial;
    font-weight: bold;
    color: rgb(0, 156, 21);
}
.notax{
    margin-left: 20px;
    color:grey;
    font: 13px "Ubuntu", Arial;
}
.prod-desc-head{
    margin: 0 20px;
    font: 3vh "Poppins", Arial;
}
.saree-desc{
    margin: 10px 0 20px 20px;
    font: 20px Arial;
    color: grey;
}
.city-name{
    font: 30px "Poppins";
    color: grey;
}
.city-name span{
    font-weight: bold;
    color: rgb(143, 0, 187);
}
.addon-info{
    font: 2.6vh "Poppins", Arial;
}
.unavailable{
    text-align: center;
    font: 3vh "Poppins", Arial;
    color: red; 
}
.addtocart-btn{
    margin: 20px 0;
    width: 100%;
    padding: 5px 0;
    font: 23px "Ubuntu", Arial;
    background-color: rgb(230, 167, 255);
    border: 2px solid rgb(53, 0, 102);
    border-radius: 10px;
    transition: all 0.2s ease-out;
}
.addtocart-btn:hover{
    cursor: pointer;
    background-color: rgb(53, 0, 102);
    color: white;
}
.select-qty-msg{
    margin: 0 20px 0 0;
    font: 20px "Ubuntu", Arial;
    display: none;
}
#quantity-ip{
    display: none;
    font: 20px "Ubuntu", Arial;
    padding: 3px 10px;
    border: 1px solid purple;
    border-radius: 5px;
    outline: none;
}
#quantity-ip:focus{
    border: 2px solid purple;
    border-radius: 10px;
}